<header>
    <div class="header-content">
        <div class="header-content-inner">
               <h1 style="color:white"text-shadow:
                   -1px -1px 0 black,
                   1px -1px 0 black,
                   -1px 1px 0 black,
                   1px 1px 0 black;">SAYONARA</h1>
           </div>
            <hr>
            <font color="black">
                <p>We are CTF players!</p>
            </font>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
