<header>
    <div class="header-content">
        <div class="header-content-inner">
           <div style="padding: 6px; margin-bottom: 6px; border: 1px solid black; 
               background-color:""black; color: "white">
               <h1>SAYONARA</h1>
           </div>
            <hr>
            <font color="black">
                <p>We are CTF players!</p>
            </font>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
